<a href="https://colab.research.google.com/github/Hu-skitch/Mater.ITM/blob/main/P07_condicional_and_iterative_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with conditional and iterative structures

### Conditional structures

Structure __if__ with 2 branches

In [1]:
age = 30
if age < 18:
    print("underage")
else:
    print("over 18")
print("final")

over 18
final

Structure __if__ with several branches

In [2]:
age = 33
if age < 13:
    print( "child" )
elif age < 18:
    print( "teenager" )
elif age < 35:
    print( "young" )
elif age < 55:
    print( "median age" )
elif age < 75:
    print( "old" )
else: print("elderly")

young

Using link operators in conditions

In [5]:
var1 = 5
var2 = 'A'
if (var1 == 5) and (var2 == 'A'):
    print("condition1")

condition1

In [6]:
var1 = 5
var2 = 'A'
if (var1 == 5) & (var2 == 'A'):
    print("condition1")

condition1

In [9]:
var1 = 5
var2 = 'A'
if (var1 == 5) or (var2 == 'B'):
    print("condition1")

condition1

In [10]:
var1 = 5
var2 = 'A'
if (var1 == 5) | (var2 == 'B'):
    print("condition1")

condition1

In [11]:
var1 = 5
var2 = 'A'
if all([var1 == 5 , var2 == 'A']):
    print("condition1")

condition1

In [12]:
var1 = 5
var2 = 'A'
listacond = [var1 == 5 , var2 == 'A']
if all(listacond):
    print("condition1")

condition1

In [ ]:
var1 = 5
var2 = 'A'
if any([var1 == 5 , var2 == 'B']):
    print("condition1")

condition1

Another way is to write the conditionals

In [15]:
age = 10
res = "Over 18" if age >= 18 else "Under 18"
res

'Under 18'

In [16]:
age = 10
if age >= 18:
    res = "Over 18"
else:
    res = "Under 18"
res

'Under 18'

In [22]:
a = 12
if a > 10 and a < 30:
    print("OK")

OK

In [23]:
if 10 < a < 30:
    print("OK")

OK

Creating conditionals using dictionaries

In [26]:
customer_type = 'J'

In [27]:
if customer_type == 'A':
    segmento = 1
elif customer_type == 'B':
    segmento = 2
elif customer_type == 'C':
    segmento = 3
else:
    segmento = 4
segmento

4

In [28]:
dicseg = {'A':1, 'B':2, 'C':3}
if customer_type in dicseg:
    segment = dicseg[customer_type]
else:
    segment = 4
segment

4

Since version 3.10 we have the match - case structure

In [29]:
import sys
sys.version_info

sys.version_info(major=3, minor=10, micro=12, releaselevel='final', serial=0)

In [34]:
var = 'Hello'
match var:
    case 'Hello, World!':
        print('Hello to you too!')
    case 'Goodbye, World!':
        print('See you later')
    case other:
        print('No match found')

No match found

## Loops

Example of __loops__: working with __lists__

In [38]:
list1 = [1,2,3,4,5,6,7,8]
accum = 0
for val in list1:
    print(val)
    accum = accum + val
print(accum)

1
2
3
4
5
6
7
8
36

Starting from the following list of dictionaries, we add a new field to all dictionaries

In [13]:
customers = [
{'cod_customer':'A100', 'ant':3, 'invoice': 45.6},
{'cod_customer':'A101', 'ant':1, 'invoice': 15.2},
{'cod_customer':'B101', 'ant':5, 'invoice': 28.5},
{'cod_customer':'C102', 'ant':8, 'invoice': 22.3}
]
customers

[{'cod_customer': 'A100', 'ant': 3, 'invoice': 45.6},
 {'cod_customer': 'A101', 'ant': 1, 'invoice': 15.2},
 {'cod_customer': 'B101', 'ant': 5, 'invoice': 28.5},
 {'cod_customer': 'C102', 'ant': 8, 'invoice': 22.3}]

In [48]:
type(customers[0])

dict

In [49]:
for cli in customers:
    print(cli['cod_customer'])
    print(type(cli))

A100
<class 'dict'>
A101
<class 'dict'>
B101
<class 'dict'>
C102
<class 'dict'>

In [56]:
accum_invoice = 0
for cli in customers:
    print (cli)
    accum_invoice = accum_invoice + cli['invoice']
print(accum_invoice)

{'cod_customer': 'A100', 'ant': 3, 'invoice': 45.6}
{'cod_customer': 'A101', 'ant': 1, 'invoice': 15.2}
{'cod_customer': 'B101', 'ant': 5, 'invoice': 28.5}
{'cod_customer': 'C102', 'ant': 8, 'invoice': 22.3}
111.6

In [57]:
customers

[{'cod_customer': 'A100', 'ant': 3, 'invoice': 45.6},
 {'cod_customer': 'A101', 'ant': 1, 'invoice': 15.2},
 {'cod_customer': 'B101', 'ant': 5, 'invoice': 28.5},
 {'cod_customer': 'C102', 'ant': 8, 'invoice': 22.3}]

In [58]:
lis_cli2 = []
for cli in customers:
    if cli['ant'] >= 4 and cli['invoice'] >= 15:
        print(cli['cod_customer'])
        lis_cli2.append(cli['cod_customer'])
lis_cli2

B101
C102

['B101', 'C102']

In [59]:
customers

[{'cod_customer': 'A100', 'ant': 3, 'invoice': 45.6},
 {'cod_customer': 'A101', 'ant': 1, 'invoice': 15.2},
 {'cod_customer': 'B101', 'ant': 5, 'invoice': 28.5},
 {'cod_customer': 'C102', 'ant': 8, 'invoice': 22.3}]

In [60]:
for cli in customers:
    if cli['invoice'] >= 30:
        cli['customer_type'] = 'A'
    else:
        cli['customer_type'] = 'B'
customers

[{'cod_customer': 'A100', 'ant': 3, 'invoice': 45.6, 'customer_type': 'A'},
 {'cod_customer': 'A101', 'ant': 1, 'invoice': 15.2, 'customer_type': 'B'},
 {'cod_customer': 'B101', 'ant': 5, 'invoice': 28.5, 'customer_type': 'B'},
 {'cod_customer': 'C102', 'ant': 8, 'invoice': 22.3, 'customer_type': 'B'}]

Instructions __break__ and __continue__.

In [ ]:
list2 = [2,4,5,6,7,8,10]
for val in list2:
    if val%2 > 0: # if not an even value skip to the next one
        continue
    print(val)

2
4
6
8
10

In [ ]:
for val in list2:
    if val%2 > 0: # if not an even value interrupts the loop
        break
    print(val)

2
4

Use of __ranges__

In [66]:
list(range(1,10,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
for i in range(1,20,2):
    # loop prints 1 3 5 7 9 ...
    print(i)

1
3
5
7
9
11
13
15
17
19

In [71]:
for i in range(1,20,2):
    # loop prints 1 3 5 7 9
    print(i)

for i in range(0,-10,-1):
    print(i)

lis1 = list(range(1,10,2))
lis1

1
3
5
7
9
11
13
15
17
19
0
-1
-2
-3
-4
-5
-6
-7
-8
-9

[1, 3, 5, 7, 9]

Example loop that iterate list of lists

In [72]:
list1 = [['type 1', 1],['type 1', 2],['type 3', 4],['type 1', 2],['type 2', 2],['type 4', 3],['type 3', 1]]
list1

[['type 1', 1],
 ['type 1', 2],
 ['type 3', 4],
 ['type 1', 2],
 ['type 2', 2],
 ['type 4', 3],
 ['type 3', 1]]

Count those of a specific type

In [75]:
sum = 0
for lisitem in list1:
    print(lisitem)
    if lisitem[0]=='type 1':
        sum = sum + lisitem[1]
sum

['type 1', 1]
['type 1', 2]
['type 3', 4]
['type 1', 2]
['type 2', 2]
['type 4', 3]
['type 3', 1]

5

Nested loops

In [83]:
listc = ["Madrid", "Murcia", "Valladolid"]
for city in listc:
    print(city)
    for c in city:
        print(c)

Madrid
M
a
d
r
i
d
Murcia
M
u
r
c
i
a
Valladolid
V
a
l
l
a
d
o
l
i
d

In [87]:
list1 = [[1,2,3],['a','b','c']]
for lis in list1:
    print("list1", lis)
    for item in lis:
        print("item", item)

list1 [1, 2, 3]
item 1
item 2
item 3
list1 ['a', 'b', 'c']
item a
item b
item c

Loops that work with two vales in each iteration

In [88]:
listc

['Madrid', 'Murcia', 'Valladolid']

In [89]:
list(enumerate(listc))

[(0, 'Madrid'), (1, 'Murcia'), (2, 'Valladolid')]

In [90]:
# The enumerate function generates an index
for i, val in enumerate(listc):
    print(i,val)

0 Madrid
1 Murcia
2 Valladolid

In [91]:
for val in enumerate(listc):
    print(val)

(0, 'Madrid')
(1, 'Murcia')
(2, 'Valladolid')

In [92]:
lis3 = [('a',1,10), ('b',2,20), ('c',3,30)]
lis3

[('a', 1, 10), ('b', 2, 20), ('c', 3, 30)]

In [93]:
for i, j, k in lis3:
    print(i,j,k)

a 1 10
b 2 20
c 3 30

type __while__ loops

In [96]:
a = 1
while a <= 10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

From the current date obtain the following 10 days

In [ ]:
from datetime import date
from datetime import datetime
from datetime import timedelta
date_ini = date.today()
print(date_ini)

2024-03-25

In [ ]:
i = 0
while i < 10:
    i+=1
    date = date_ini + timedelta(days=i)
    print(i)
    print(date)

1
2024-03-26
2
2024-03-27
3
2024-03-28
4
2024-03-29
5
2024-03-30
6
2024-03-31
7
2024-04-01
8
2024-04-02
9
2024-04-03
10
2024-04-04

In [ ]:
for i in range(1,11,1):
    print(i)
    date = date_ini + timedelta(days=i)
    print(date)

1
2024-03-26
2
2024-03-27
3
2024-03-28
4
2024-03-29
5
2024-03-30
6
2024-03-31
7
2024-04-01
8
2024-04-02
9
2024-04-03
10
2024-04-04

From a specific date to get every day of the month until change of month, excluding weekends

In [ ]:
v_date = date(2024,3,14)
v_date.weekday()

3

In [ ]:
date_ini = date(2024,5,14)

In [ ]:
i = 0
v_date = date_ini
while v_date.month == date_ini.month:
    if v_date.weekday() != 5 and v_date.weekday() != 6: # another way:  if v_date.weekday() not in [5,6]:
        print(v_date)
    i = i + 1
    v_date = date_ini + timedelta(days=i)

2024-05-14
2024-05-15
2024-05-16
2024-05-17
2024-05-20
2024-05-21
2024-05-22
2024-05-23
2024-05-24
2024-05-27
2024-05-28
2024-05-29
2024-05-30
2024-05-31

Another way to work with loops -> list comprehension

[expression for x in iterable if any_condition]

In [ ]:
lis1 = [1,2,3,4,5]

In [ ]:
lis2 = []
for i in lis1:
    lis2.append(i*2)
lis2

[2, 4, 6, 8, 10]

The same with a list comprehension

In [ ]:
lis2 = [i*2 for i in lis1]
lis2

[2, 4, 6, 8, 10]

Test with larger volume of data

In [ ]:
lis1 = list(range(1,1000000))

In [ ]:
%%time
lis2 = []
for i in lis1:
    lis2.append(i*2)
lis2[0:10]

CPU times: total: 156 ms
Wall time: 160 ms

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
%%time
lis2 = [i*2 for i in lis1]
lis2[0:10]

CPU times: total: 78.1 ms
Wall time: 78.8 ms

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
lis3 = [i*i for i in lis1]
lis3[0:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
lis4 = [[i, i*i] for i in lis1]
lis4[0:10]

[[1, 1],
 [2, 4],
 [3, 9],
 [4, 16],
 [5, 25],
 [6, 36],
 [7, 49],
 [8, 64],
 [9, 81],
 [10, 100]]

In [ ]:
lis5 = [i*i for i in lis1 if i > 2]
lis5[0:10]

[9, 16, 25, 36, 49, 64, 81, 100, 121, 144]